/* vertical media querry god damn it */

@media screen and (max-height:738px) {
 .docs__controls {
      /***margin-bottom: 24px;***/
    }
  }
/***/
@media screen and (max-height:823px) and (max-width: 425px) {
  .olist__controls {
       bottom: 30px;
    position: fixed;
        padding: 0 15px;
    width: auto !important;
  }


  .clients__controls, .partners__controls {
    margin: 32px auto 24px
  }

  .docss__item {
     margin-bottom: 0px;/***/
  }

  h1.article-heading {
      margin-bottom: 24px;
  }

  h4.docs__name {
      font-size: 12px;
  }

  .docs__img-wrap>img {
      height: 156px;
  }

  .contacts__col {
      max-height: 480px;
  }
}


article.page.page-object {
    padding-bottom: 48px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

footer.object__footer {
    padding-bottom: 24px;
}

.container {
    top: 80px;
    height: -webkit-calc(100% - 80px);
    height: calc(100% - 80px);
    min-height: 780px;
}

article.page.page-objects {
    padding-bottom: 70px;
}